#site-main {
  background-color: rgb(223, 232, 243);
}

.site-header-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  padding: 10vw 4vw;
  min-height: 200px;
  max-height: 450px;
  /* text-align: center; */

}

.post-full-content blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: 3px solid #bbd2d6;
}

a {
  background-color: transparent;
  color: #535763;
  text-decoration: none;
}

.post-full-meta-date {
  color: #69708e;
}
